@import 'tailwindcss';

.input-container {
  margin-bottom: 1rem;
}

.input-container > label {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-top: 0.5rem;
  background-color: #e2e2e2;
  padding: 0.5rem;
  border-radius: 6px;
}

.input-field:disabled {
  background-color: rgb(248, 248, 248);
}

.scan-btn {
  width: 100%;
  margin-top: 24px;
  padding: 0.5rem 0;
  color: white;
  background-color: #171717;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

.modal {
}

.modal-backdrop {
  position: absolute;
  opacity: 25%;
  background-color: #040720;
  inset: 0;
  cursor: pointer;
  height: 100%;
}

.modal-content {
  margin: 0 auto;
  position: absolute;
  inset: auto 16px;
  z-index: 20;
  background-color: white;
  color: black;
  padding: 1rem;
}
